<aside>
    <nav>
        <ul>
            <details open="">
                <summary>Getting started</summary>
                <ul>
                    <li><a href="./" class="secondary">Home</a></li>
                    <li><a href="./Privacy" class="secondary">Privacy</a></li>
                    <li><a href="./PagedContent" class="secondary">Paged Data Demo</a></li>
                    <li><a href="./ModalDemo" class="secondary">Modal Demo</a></li>
                </ul>
            </details>
        </ul>
    </nav>
</aside>