
<article>
    <header>
        <a href="#close" aria-label="Close" class="close" hx-on:click="this.closest('dialog').innerHTML=''"></a>
        Modal title
    </header>
    <p>
        Nunc nec ligula a tortor sollicitudin dictum in vel enim.
        Quisque facilisis turpis vel eros dictum aliquam et nec turpis.
        Sed eleifend a dui nec ullamcorper.
        Praesent vehicula lacus ac justo accumsan ullamcorper.
    </p>
</article>